{% extends 'elections/base.html' %}

{% block content %}

<h1 class="text-2xl mb-6 text-center">🗳️ Vote en ligne</h1>

<div class="bg-slate-800 p-4 rounded mb-4 text-white">
    👤 {{ elector.voter_id }} <br>
    📍 {{ elector.center.name }} - {{ elector.station.name }}
</div>

<form method="POST" id="voteForm">
    {% csrf_token %}

    {% for party in parties %}
        <label class="block cursor-pointer mb-3">
            <div class="party-card bg-slate-700 p-4 rounded flex items-center space-x-4 hover:bg-slate-600 transition">

                <!-- RADIO -->
                <input type="radio" name="party" value="{{ party.id }}" class="hidden">

                <!-- LOGO -->
                {% if party.logo %}
                    <img src="{{ party.logo.url }}" class="w-16 h-16 object-contain">
                {% endif %}

                <!-- NOM -->
                <h3 class="text-white font-bold">{{ party.name }}</h3>

            </div>
        </label>
    {% endfor %}

    <button id="submitBtn" class="w-full bg-green-500 p-2 rounded mt-4">
        Valider mon vote
    </button>

</form>

<script>
    const cards = document.querySelectorAll('.party-card');
    const radios = document.querySelectorAll('input[name="party"]');

    cards.forEach((card, index) => {
        card.addEventListener('click', () => {

            radios[index].checked = true;

            // reset styles
            cards.forEach(c => c.classList.remove('bg-green-500'));

            // highlight selected
            card.classList.add('bg-green-500');
        });
    });

    // 🔒 anti double clic
    document.getElementById("voteForm").addEventListener("submit", function() {
        document.getElementById("submitBtn").disabled = true;
    });
</script>

{% endblock %}