{% extends 'elections/base.html' %}

{% block content %}

<div class="flex justify-center items-center h-screen">


<div class="bg-slate-800 p-8 rounded shadow w-full max-w-md">

    <h2 class="text-2xl font-bold mb-6 text-center">
        🔐 Connexion
    </h2>
    {% if error %}
    <div class="bg-red-500 p-2 mb-3 rounded">
        {{ error }}
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="username"
               placeholder="Nom d'utilisateur"
               class="w-full p-2 mb-4 rounded text-black">

        <input type="password" name="password"
               placeholder="Mot de passe"
               class="w-full p-2 mb-4 rounded text-black">

        <button class="w-full bg-green-500 p-2 rounded hover:bg-green-600">
            Se connecter
        </button>

    </form>

    <p class="mt-4 text-sm text-center">
        Pas de compte ?
        <a href="/accounts/register/" class="text-green-400">S'inscrire</a>
    </p>

</div>

</div>

{% endblock %}