{% extends 'elections/base.html' %}

{% block content %}

<div class="flex justify-center items-center h-screen">

<div class="bg-slate-800 p-8 rounded shadow w-full max-w-md">

    <h2 class="text-2xl font-bold mb-6 text-center">
        📝 Inscription
    </h2>

    <form method="POST">
    {% csrf_token %}

    <div>Nom d'utilisateur {{ form.username }}</div>
    <div>Email {{ form.email }}</div>
    <div>Mot de passe {{ form.password1 }}</div>
    <div>Confirmation {{ form.password2 }}</div>

    <button class="w-full bg-green-500 p-2 rounded mt-4">
        S'inscrire
    </button>
</form>

    <p class="mt-4 text-sm text-center">
        Déjà inscrit(e) ?
        <a href="/accounts/login/" class="text-green-400">Se connecter</a>
    </p>
</div>

</div>

{% endblock %}