{% extends 'elections/base.html' %}

{% block content %}

<h1 class="text-3xl mb-6">👑 Gestion des utilisateurs</h1>

<table class="w-full bg-slate-800 rounded shadow">

    <tr class="bg-slate-700">
        <th>Username</th>
        <th>Rôle</th>
        <th>Statut</th>
        <th>Actions</th>
    </tr>

    {% for user in users %}

    <tr class="border-b border-gray-600 text-center">

        <td>{{ user.username }}</td>

        <td>{{ user.role }}</td>

        <td>
            {% if user.is_suspended %}
                ❌ Suspendu
            {% else %}
                ✅ Actif
            {% endif %}
        </td>

        <td class="space-x-2">

            <!-- 🔄 Changer rôle -->
            <form method="POST" action="{% url 'change_role' user.id %}" class="inline">
                {% csrf_token %}
                <select name="role" class="text-black">
                    <option value="ADMIN">ADMIN</option>
                    <option value="AGENT">AGENT</option>
                    <option value="ELECTEUR">ELECTEUR</option>
                </select>
                <button class="bg-blue-500 px-2 py-1 rounded">OK</button>
            </form>

            <!-- 🔒 Suspendre -->
            <a href="{% url 'toggle_suspend' user.id %}"
               class="bg-red-500 px-2 py-1 rounded">
                Suspendre
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

<br><br>



<a href="/accounts/appeals/" class="block mt-4 text-center text-green-400">
    <button class="bg-green-500 px-4 py-2 rounded mt-4 w-full hover:bg-green-600 transition">
        <strong> <p style="color:rgb(255, 255, 255);">Consulter les appels (Demandes de réactivation) </p></strong> 
    </button>
</a>

{% endblock %}