<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Résultats Électoraux</title>

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: 'Inter', sans-serif;
            background-color: #0f172a;
            color: #f8fafc;
        }
    </style>
</head>

<body>

    <!-- NAVBAR -->
    <nav class="bg-slate-900 p-4 shadow-lg flex justify-between">
        <h1 class="text-xl font-bold">🗳️ Elections Bafoussam III</h1>

        <div>
            <a href="/" class="mr-4 hover:text-green-400">Dashboard</a>
            <a href="/centers/" class="mr-4 hover:text-green-400">Centres</a>
            <a href="/agent/vote/" class="hover:text-green-400">Saisie</a>
        </div>
    </nav>

    <!-- CONTENU -->
    <div class="p-6">
        {% block content %}{% endblock %}
    </div>

</body>
</html>